* {
  font-family: "HelveticaNeueCyr";
}

.app {
  width: 442px;
  margin: 100px auto;
}

.form {
  width: 440px;
  height: 311px;
  background-color: white;
  border: solid 1px rgba(153, 153, 153, 0.3333);
  border-radius: 5.51px;
  position: relative;
}

.header {
  width: 442px;
  padding-left: 75px;
  font-size: 18px;
  color: rgb(102, 102, 102);
  font-weight: 300;
  margin-bottom: 34px;
}

.strong {
  font-size: 41.36px;
  font-weight: bold;
  color: rgb(47, 162, 195);
}

.input {
  display: block;
  border: solid 1px rgba(153, 153, 153, 0.28);
  border-radius: 5px;
  background-color: white;
  width: 297px;
  height: 42px;
  margin: 40px auto 0 auto;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: -0.14px;
  color: rgb(102, 102, 102);
  padding-left: 41px;
  font-weight: 300;
}

input::placeholder {
  color: rgb(102, 102, 102);
  opacity: 1;
}

.input_mail {
  background-image: url("img/user.png");
  background-repeat: no-repeat;
  background-position: 16px 13px;
}

.input_pass {
  background-image: url("img/lock.png");
  background-repeat: no-repeat;
  background-position: 16px 13px;
}

.submit {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.18px;
  height: 40px;
  width: 92px;
  line-height: 40px;
  color: white;
  background-color: rgb(54, 162, 193);
  border: 0;
  border-radius: 3px;
  /* box-shadow: 3px 3px 0 0 rgb(45, 127, 150); */
  margin: 40px 0 0 72.5px;
}

.text {
  font-size: 12px;
  letter-spacing: -0.12px;
  color: rgb(102, 102, 102);
  /* height: 20px; */
  margin: 0 0 0 72.5px;
  padding-top: 10px;
  font-weight: 300;
}

.link {
  text-decoration: none;
  color: rgb(54, 162, 193);
}

.link,
.span {
  vertical-align: bottom;
}

.error {
  top: 46px;
  font-size: 11px;
  margin-left: 74px;
  position: absolute;
  color: rgb(237, 31, 36);
}

.icon {
  position: absolute;
  display: inline-block;
  background: url('img/icons.png')
  no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.success-icon {
  background-position: -5px -37px;
  width: 11px;
  height: 11px;
  top: 13px;
  right: 51px;
}

.input__comp_user,
.input__comp_pass {
  position: relative;
}

.error-icon {
  background-position: -5px -53px;
  width: 10px;
  height: 10px;
  top: 14px;
  right: 51px;
}

.input_success {
  border-color: rgba(4, 140, 72);
}

.hidden {
  display: none;
}
